div(class='modal fade', id='loginModal', tabindex='-1', role='dialog', aria-labelledby='loginLabel')
	div(class='modal-dialog', role='document')
		div(class='modal-content')
			.modal-body
				.row
					button(type='button', class='close', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true', style='margin-right:40px') &times;
				.row.text-center
					h2 Sign in to #{title}
				.row
					p
				.row.text-center
					p(style='padding:30px') Don't worry, nothing will be ever posted on your wall and you will never receive emails from this site.
				.row
					p
				.row.text-center
					.col-sm-6
						p 
							a(href='/auth/facebook', class='btn btn-info') Connect with Facebook
					.col-sm-6
						p
							a(href='/auth/google', class='btn btn-info') Connect with Google
				.row
					p 