div(class='modal fade', id='new-entry', tabindex='-1', role='dialog', aria-labelledby='entryLabel')
	div(class='modal-dialog modal-lg', role='document')
		div(class='modal-content entry-modal', ng-controller='entryCtrl')
			.modal-body
				div(ng-hide='loading')
					.row
						button(type='button', class='close', data-dismiss='modal', aria-label='Close') &times;
					.row
						.col-sm-offset-4
							h2(style='margin:30px 20px;') Add new sleep
					.row
						form(class='form-horizontal', name='entryForm')
							date-time-picker(from-date='fromDate', to-date='toDate', from-time='fromTime', to-time='toTime', time-format='user.localization.timeFormat', date-format='user.localization.dateFormat')
							.form-group
								label(class='col-sm-3 col-sm-offset-1 control-label') Awoke feeling
								.col-sm-8
									ul(class='list-inline', class='modal-list')
										li(ng-repeat='feeling in awakeFeelings', class='modal-item')
											label
												input(type='radio', ng-model='$parent.awakeFeeling', ng-value='{{feeling.rate}}', required, name='rate')
												&nbsp; {{feeling.text}} &nbsp;&nbsp;
											ng-switch(on='{{feeling.rate}}')
												i(class='fa fa-smile-o', ng-switch-when='3') &nbsp;
												i(class='fa fa-meh-o', ng-switch-when='2') &nbsp;
												i(class='fa fa-frown-o', ng-switch-when='1') &nbsp;
							.form-group
								label(for='comments', class='col-sm-3 col-sm-offset-1 control-label') Comments
								.col-sm-6
									textarea(type='text', class='form-control text-line', rows='4', ng-model='comments', placeholder='What did you eat, did you do any physical exercise, did you take any medication ...', id='comments')
							.form-group
								.col-sm-3.col-sm-offset-4
									button(class='btn btn-info', ng-click='insertEntry()', ng-disabled='entryForm.$invalid') Add
					div(class='row fade', ng-show='errorMessage')
						div(class='col-sm-6 col-sm-offset-2 alert alert-danger', role='alert')
							{{errorMessage}}
					div(class='row fade', ng-show='postSuccess')
						div(class='col-sm-6 col-sm-offset-2 alert alert-success', role='alert')
							p Sleep entry added

				div(ng-show='loading')
					.spinner-inline
						.dot1
						.dot2