div(class='container cards-holder')
	div(class='row', ng-repeat='days in rowChunks')
		div(class='col-sm-3', ng-repeat='day in days')
			div(class='sleep-entry')
				div(ng-class='(day.entries && day.show) ? "day-title day-container grow" : (day.entries && !day.show) ? "day-title day-container" : "day-container blurred"', ng-click='toggleDay(day)')
					table
						tr
							td(class='cell-title') {{day.dayName}} &nbsp;
							td{{day.dayOfMonth}}
							td(class='empty-cell')
							td(ng-if='day.sleepTime') {{day.sleepTime}}h &nbsp;
							td
								ng-switch(on='day.awakeFeeling')
									i(class='fa fa-smile-o' ng-switch-when='3' title='Rested')
									i(class='fa fa-meh-o' ng-switch-when='2' title='Could use more sleep')
									i(class='fa fa-frown-o' ng-switch-when='1' title='Tired')

				div(ng-class='day.entries ? "day-container" : "day-container blurred"', ng-show='day.entries && day.show', ng-repeat='d in day.entries')
					table(class='full-width')
						tr
							td
								i(class='fa fa-bed fa-lg' title='Sleep time')
							td(class='cell-data') {{formatTime(d.sleepFrom)}} - {{formatTime(d.sleepTo)}}
							td(class='right-aligned')
								div(class='relative')
									options-dialog(day='$parent.day', entry='d')
						tr
							td(valign='baseline')
								i(class='fa fa-comments fa-lg' title='Comments')
							td(class='cell-data') {{d.comments}}