extends layout

block content
	header(class='header')
		.text-vertical-center
			h1 #{title}
			h5(class='muted') Record your sleep habits, get better sleep
			button(class='btn btn-lg',type='button', data-toggle='modal', data-target='#loginModal') Login

	include modals/loginModal.jade