doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/site.css')
        link(rel='icon', href='/images/diary.ico')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
        base(href='/')
        block head
    body(ng-app='app')
        if !isHomePage
            nav(class='navbar navbar-default navbar-fixed-top')
                .container
                    .navbar-header
                    span(class='brand') Sleep diary
                    div(class='navbar-collapse')
                        ul(class='nav navbar-nav navbar-right')
                            li
                                a(href='/logout') Logout
        block content
        
        if isDebugging
            script(src='/js/jquery-2.1.4.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js')
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js')
            script(src='/js/d3.min.js')
            script(src='/js/moment.min.js')
            script(src='/js/bootstrap-datetimepicker.min.js')    
            script(src='/js/bootstrap-clockpicker.min.js')
            script(src='/js/services.js')
            script(src='/js/directives.js')
            script(src='/js/app.js')
            script(src='/js/site.js')
        else
            script(src='/js/jquery-2.1.4.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js')
            script(src='/js/d3.min.js')
            script(src='/js/moment.min.js')
            script(src='/js/bootstrap-datetimepicker.min.js')    
            script(src='/js/bootstrap-clockpicker.min.js')
            script(src='/js/services.min.js')
            script(src='/js/directives.min.js')
            script(src='/js/app.min.js')
            script(src='/js/site.min.js')
        
        block scripts
