div(class='container-fluid header-offset landing ng-cloak' ng-controller='summaryCtrl' ng-cloak)
	user-settings
	user-stats
	div(class='row subheader-offset', ng-hide='loading')
		.col-sm-5.col-sm-offset-1
			table(cellpadding='5')
				tr
					td
						button(ng-class='hasEntries ? "btn btn-default round-btn tipped" : "btn btn-default disabled round-btn tipped"', ng-click='!hasEntries || previousDateRange()', title='Previous date range') ←
					td
						p(class='empty-cell')
					td {{formatDate(beginDate)}}
					td &nbsp;-&nbsp;
					td {{formatDate(endDate)}}
					td
						p(class='empty-cell')
					td
						button(ng-class='momentEndDate.isBefore(today) ? "btn btn-default round-btn tipped" : "btn btn-default disabled round-btn tipped"', ng-click='!momentEndDate.isBefore(today) || nextDateRange()', title='Next date range') →
					td
						p(class='empty-cell')
					td
						date-selector(date='currentDate', class='tipped', title='Select a date', ng-show='hasEntries')
					td
						p(class='empty-cell')
					td
						button(class='btn btn-default', ng-click='toggleDateRange()', ng-show='hasEntries',	 title='Toggle between week and month display range') {{dateRange === 'isoWeek' ? 'Month' : 'Week'}}
		.col-sm-3.col-sm-offset-1
			table(cellpadding='5')
				tr
					td
						button(ng-class='selectedTemplate.name === "chart" ? "btn btn-default round-btn btn-selected" : "btn btn-default round-btn tipped"', ng-click='setTemplate("chart")', ng-hide='isDataEmpty || !hasEntries', title='Chart')
							i(class='fa fa-bar-chart')
					td
						p(class='empty-cell')
					td
						button(ng-class='selectedTemplate.name === "grid" ? "btn btn-default round-btn btn-selected" : "btn btn-default round-btn tipped"', ng-click='setTemplate("grid")', ng-hide='isDataEmpty || !hasEntries', title='Sleep grid')
							i(class='fa fa-list')
					td
						p(class='empty-cell')
					td
						button(ng-class='selectedTemplate.name === "cards" ? "btn btn-default round-btn btn-selected" : "btn btn-default round-btn tipped"', ng-click='setTemplate("cards")', ng-hide='isDataEmpty || !hasEntries', title='Cards')
							i(class='fa fa-clone')
					td
						p(class='empty-cell')
					td
						button(class='btn btn-default round-btn', ng-click='toggleExpanded()', ng-hide='selectedTemplate.name !== "cards" || isExpanded || isDataEmpty'  || !hasEntries, title='Open all cards')
							i(class='fa fa-toggle-on')
					td
						button(class='btn btn-default round-btn', ng-click='toggleExpanded()', ng-hide='selectedTemplate.name !== "cards" || !isExpanded || isDataEmpty'  || !hasEntries, title='Close all cards')
							i(class='fa fa-toggle-off')
		.col-sm-1
			a(href='javascript:void(0);', class='btn btn-info', type='button', data-toggle='modal', data-target='#new-entry') &nbsp;Add new
	.container
		div(class='row fade', ng-show='userMsg')
			div(class='alert alert-danger alert-dismissible' role='alert')
				button(type='button' class='close' aria-label='Close' ng-click='dismissUserMsg()')
					span(aria-hidden='true') X
				{{userMsg}}
	div(class='row', ng-show='loading')
		div(class='spinner')
			.dot1
			.dot2
	div(class='text-center static-msg' ng-show='!loading && (isDataEmpty && hasEntries)')
		h2 No data in selected date range 
	.template-container(ng-show='(!loading && !isDataEmpty) || (!loading && !hasEntries)')
		div(ng-include='selectedTemplate.url', onload='templateLoaded()', class='template-selector')

	include modals/newEntryModal.jade