extends layout

block head
	link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
	link(rel='stylesheet', href='/css/jquery-clockpicker.min.css')
		
block content
	include summary.jade		
block scripts
	script(type='text/javascript').
		app.value('user', !{JSON.stringify(user)});