[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}

body{
	min-height: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

p, ul, label, a, tr, input, span, div, textarea, button, i{
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}

td{
  text-align: left;
}

button:hover{
  border-color: #4C92FF !important;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/header.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}.header *{
  color: white;
  }.header a:focus{
    text-decoration: none !important;
    outline: none !important;
    color: white;
  }.header .btn{
	  border: 1px solid white;
	  background: transparent;
	  color: white;
  }
  .header .btn:hover{
	  background: white;
	  color: #4C92FF !important;
	  border: 1px solid white !important;
  }


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 8em;
    font-weight: 600;
}.text-vertical-center h5{
  margin-bottom: 2em;
}

.btn-selected{
 border-color: #4C92FF !important;
 background-color: #EBEBEB !important;
}

.btn-normal{
  color: #4C92FF !important;
}

.brand{
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif !important;
  color: #4C92FF !important;
  text-align: center;
  text-transform: capitalize;
  float: left;
  font-size: inherit;
  height: 60px;
  line-height: 21px;
  padding: 19.5px 15px;
}

.static-msg{
    margin-top: 40px;
}

.close.menu-toggle{
    margin-right: 15px;
}

.close{
  opacity: 0.6;
}

.first-entry-hint{
    position: static;
    min-width: 100%;
    min-height: 100%;
    background: black;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.no-data-holder{
	margin-top: 50px;
}

.menu-item-holder{
    margin-top: 55px;
}.menu-item-holder a{
    outline: none;
}.menu-item-holder a:hover{
    text-decoration: none;
    background-color: #FAFAFA !important; 
}.menu-item-holder a:focus{
    text-decoration: none;
    outline: none;
    background-color: #FAFAFA !important; 
}.menu-item-holder h5{
    padding: 0.85em;
    margin: 0 !important;
}.menu-item-holder h5:hover{
    background-color: #FAFAFA !important; 
}.menu-item-holder > div{
    /*padding-top: 1.2em;*/
}.menu-item-holder p:hover{
    background-color: #FAFAFA !important;
}.menu-item-holder p{
    margin: 0 !important;
    padding: 10px;
    color: black;
}

.bottom-border{
    border-bottom: 1px solid lightgray;
    margin: 0px 20px;
    height: 0 !important;
}

.menu-item-content{
  background-color: #FAFAFA;
  border: 1px solid #EDEDED;
  padding: 0px !important;
  min-width: 100%;
  display: none;
  opacity: 0;
  -webkit-transition: display 0s, opacity 1s;
  -moz-transition: display 0s, opacity 1s;
  transition: display 0s, opacity 1s;
}
.menu-item-content.show{
  display: block;
  opacity: 1;
  -webkit-transition: display 0s, opacity 1s;
  -moz-transition: display 0s, opacity 1s;
  transition: display 0s, opacity 1s;
}

.menu-item-subcontent{
    
}.menu-item-subcontent > li{
    padding-top: 10px;
    padding-left: 2em;
    padding-right: 2em;
}.menu-item-subcontent + li{
    padding: 0px !important;
    padding-top: -10px;
    margin-bottom: 1.2em;
    margin-right: 0.9em;
    margin-top: 0.1em;
    vertical-align: middle;
    text-align: center;
}

.settings-menu{
  list-style: none;
  padding: 0 !important;
  padding-top: 1.5em;
}

.settings-menu a{
  text-decoration: none;
  color: black;
}

.settings-menu > li{
  position: relative;
  display: block;
  text-align: center;
  padding: 0.85em 0;
}

.settings-menu > li:hover{
  background-color: #EDEDED;
  cursor: pointer;
}

.settings-submenu{
  background-color: #EDEDED;
  padding: 0 !important;
  min-width: 9vw;
  /*padding: 1.3em;*/
  list-style: none;
  position: absolute;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -moz-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
}

.settings-submenu.show{
  top: 0;
  left: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -moz-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
}

.settings-submenu > li{
  display: block;
  padding: 0.6em;
}

.relative{
  position: relative;
}

.options-dialog{
  padding: 0.8em;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1111;
  border: 1px solid lightgray;
  background-color: white;
}
.options-dialog.show{
  top: 0 + 1%;
  right: 0 + 1%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0s, opacity 0.75s;
  -moz-transition: visibility 0s, opacity 0.75s;
  transition: visibility 0s, opacity 0.75s;
}

.template-container{
  /*position: relative;*/
}

.template-selector{
  /*position: absolute;*/
}

.template-selector.ng-enter,
.template-selector.ng-leave {
  -webkit-transition: 0.75s linear all;
  -moz-transition: 0.75s linear all;
  -o-transition: 0.75s linear all;
  transition: 0.75s linear all;
}

.template-selector.ng-enter {
  z-index: 100;
  opacity: 0;
  overflow: hidden;
  display: block;
}
.template-selector.ng-enter.ng-enter-active {
  opacity: 1;
}
.template-selector.ng-leave {
  z-index: 101;
  opacity: 0;
  overflow: hidden;
  display: none;
}
.template-selector.ng-leave.ng-leave-active {
  opacity: 0;
}

.cell-data{
  padding-left: 10px;
}

.cell-title{
  min-width: 3em;
}

tr{
  border-bottom: 12px solid transparent;
}

.empty-cell{
  width: 22px;
}

.index{
  min-height: 100%;
  color: white !important;
  background-color: #4C92FF;
}

.index h1{
  font-size: 7em;
  color: white;
}

.index a{
  color: white !important;
  text-decoration: none;
}

.landing{
  background-color: #F7F7F7;
  min-height: 100%;
  padding-top: 15px;
  padding-bottom: 40px;
}

.landing > h1{
	font-size: 6em;
}

.header-offset{
  padding-top: 100px;
}

.subheader-offset{
  padding-top: 10px;
}

@media(max-width:768px){
 .subheader-offset{
  padding-top: 40px;
} 
}

.modal-list{
  padding-top:10px;
  margin-bottom: 0px;
}

.modal-item{
  margin-right: 10px;
}

.full-width{
  width: 100%;
}

.right-aligned{
  text-align: right;
  /*margin-right: 1em;*/
}

.blurred{
  opacity: 0.4 !important;
}

.sleep-entry{
  margin-bottom: 10px;
}

.cards-holder{
  margin-top: 45px;
}.cards-holder .row{
	margin-bottom: 20px;
}

.day-title{
  background-color: white;
  color: black !important;
  text-decoration: none !important;
  border: 1px solid lightgray;
}

.day-title:hover{
  cursor: pointer;
  background-color: #EBEBEB;
  border-color: #4C92FF;
}

.grow{
  transform: scale(1.02);
  -webkit-box-shadow: 0px -5px 23px 0px rgba(50, 50, 50, 0.3) !important;
  -moz-box-shadow:    0px -5px 23px 0px rgba(50, 50, 50, 0.3) !important;
  box-shadow:         0px -5px 23px 0px rgba(50, 50, 50, 0.3) !important;
}

.grow:hover{
  border-color: #4C92FF;
}

.day-container{
  background-color: white;
  border-radius: 2px;
  padding: 10px 20px 0px 20px;
  margin-top: 1px;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in;
  opacity: 1;
}

.day-container.ng-hide{
  opacity: 0;
}

.line {
  display: table-cell;
  text-align: center;
  width: 100%;
  border: none;
  color: #333;
  background: transparent;
  border-bottom: 1px dotted black;
  padding: 5px 2px 0 2px;
}

.line:focus {
  outline: none;
  border-color: #51CBEE;
}

.text-line{
  display: table-cell;
  text-align: left;
  width: 100%;
  color: #333;
  background: transparent;
  border: 1px dotted black !important;
  border-radius: 0px !important;
}

.text-line:focus {
  outline: none;
  border: 1px dotted #51CBEE !important;
}

.hours{
  border: none;
  margin-top: -10px;
  color: black;
  font-size: 0.85em;
}

.label{
   border: none;
  margin-top: 20px !important;
  color: black;
}

.soft-link{
  font-size: 0.6em;
  text-transform: uppercase;
  color:gray;
  margin-top: 5px;
}

.soft-link:hover{
  text-decoration: none;
  color:black;
}

.soft-link:focus{
  text-decoration: none;
  color:black;
}

.goal-met{
  border: 0.5px solid rgba(0,200,0,0.5);
}

.goal-not-met{
  border: 0.5px solid rgba(200,0,0,0.5);
}

.fade{
  opacity: 1;
  transition: all 0.5s ease-out;
}

.fade.ng-hide{
  opacity: 0;
}

.grid-container{
  margin-top: 40px;
}

.sleep-grid{
  margin-bottom: 20px;
}

.chart{
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.chart.ng-hide{
  opacity: 0;
}

.chart-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 3px;
}

.grid-tooltip{
  background-color: black;
  opacity: 0;
  position: absolute;
  border-radius: 5px;
  padding: 1.1em 1.3em;
  color: white;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

.grid-tooltip.visible{
  opacity: 0.8;
  visibility: visible;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick line{
  opacity: 0.2;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4pt;
  stroke-linecap:round;
}

.thin-line{
  fill: none;
  stroke: gray;
  stroke-width: 0.5pt;
  stroke-linecap:round;
}

.thick-line{
  fill:none;
  stroke:steelblue;
  stroke-width:10pt;
  stroke-linecap:round;
}
.thick-line:hover{
  stroke:purple;
}

.point{
  stroke: whitw;
  stroke-width: 2.5pt;
}
.point:hover{
  stroke: purple;
}

.right-margin{
  margin-right: 15px;
}

.entry-modal{
  padding: 20px;
}

.btn-stats{
  position: fixed;
  top:80px;
  right:25px;
  z-index: 10;
}

.user-stats{
  position: fixed;
  z-index: 20;
  background-color: #fff;;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  padding-top: 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  border-radius: 5px;
}.user-stats > div{
  vertical-align: middle;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}.user-stats table{
  vertical-align: middle;
  text-align: center; 
  /*width: 100%;*/
  display: inline-table;
  margin: 0 auto;
}.user-stats > h3{
  margin-top: 35px;
}.user-stats.show{
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}.user-stats tr{
  border-bottom: 0px solid transparent;
}.user-stats .cell-value{
  text-align: center;
  padding-left: 10px;
}.user-settings-btn{
  position: fixed;
  top:80px;
  left:15px;
  z-index: 10;
}

.user-settings{
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  padding-top: 80px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.user-settings.show{
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media(max-width:768px){
  .user-settings{
    width: 40%;
  }
  .user-stats{
    width: 40%;
  }
}

.round-btn{
  border-radius: 50%;
}

.btn-border{
  padding: 0 !important;
  background: none !important;
  border-radius: 0 !important;
  border-bottom-style: none !important;
}

.btn-no-border{
  padding: 0 !important;
  border: none !important;
  background: none !important;
}
.btn-no-border:hover{
  background-color: #EDEDED !important;
}

.btn-no-highlight{
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  left: 49%;
  top: 39%;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.spinner-inline{
 margin: 100px auto;
 width: 40px;
 height: 40px;
 position: relative;
 text-align: center;
 -webkit-animation: sk-rotate 2.0s infinite linear;
 animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  @-webkit-keyframes fadeOutDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  .fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }