.text-center
    a(href='javascript:void(0);', class='menu-item-toggle')
        p Date format
    .bottom-border
    .menu-item-content
        ul(class='list-unstyled menu-item-subcontent')
            li
                p Select your date formatting
            li
                select(class='form-control input-sm', ng-model='user.localization.dateFormat', ng-options='format.format as format.example for format in dateFormats')
            li
                button(class='btn btn-default btn-sm menu-item-toggle', ng-click='saveSettings()') Save