.form-group
	label(for='date-picker', class='col-sm-3 col-sm-offset-1 control-label') Date
	.col-sm-3
		div(class='date', id='date-picker')
			input(type='text', class='line', id='input-date', readonly)
.form-group
	label(class='col-sm-3 col-sm-offset-1 control-label') Time range
	.col-sm-2
		div(class='clockpicker', id='from-clock')
			input(type='text', class='line', value='', id='from-clock-input', readonly)
	.col-sm-2
		div(class='clockpicker', id='to-clock')
			input(type='text', class='line', value='', id='to-clock-input', readonly)
.form-group
	.col-sm-4.col-sm-offset-4.text-center
		p(class='text-center hours') {{sleepTime}}
// .form-group
// 	label(class='col-sm-3 col-sm-offset-1 control-label') Time to fall asleep 
// 	.col-sm-2
// 		div(class='clockpicker', id='time-inbed-clock')
// 			input(type='number', min=0, max=240, step=5, class='line', value='', id='time-inbed-input')
// 	.col-sm-2
// 		p(class='label') minutes