button(class='btn btn-default btn-no-border dialog-toggle')
	span(class='glyphicon glyphicon-option-vertical')
div(class='options-dialog')
	button(class='btn btn-default btn-no-highlight' ng-click='$parent.deleteEntry(entry)') Delete entry