div(class='sleep-grid')
	div(class='row', ng-repeat='d in data', ng-if='d.entries')
		h3(class='text-center', ng-if='d.entries') {{d.dayName}} &nbsp; {{d.shortDate}}
		p(class='text-center', ng-if='d.entries') Sleep time: {{d.sleepTime}}
		div(id='grid{{$index}}')