.text-center
	a(href='javascript:void(0);', class='menu-item-toggle')
		p Sleep goal
	.bottom-border &nbsp;
	.menu-item-content
		ul(class='list-unstyled menu-item-subcontent')
			li
				p Set a sleep goal
			li
				select(ng-model='user.sleepGoal', class='form-control input-sm', ng-options='goal.hour as goal.textValue for goal in sleepGoals')
			li
				button(class='btn btn-default btn-sm menu-item-toggle', ng-click='saveSettings("reloadData")') Save