.text-center
    a(href='javascript:void(0);', class='menu-item-toggle')
        p Time format
    .bottom-border
    .menu-item-content
        ul(class='list-unstyled menu-item-subcontent')
            li
                p 24h time formatting or AM/PM
            li
                select(class='form-control input-sm', ng-model='user.localization.timeFormat', ng-options='format for format in timeFormats')
            li
                button(class='btn btn-default btn-sm menu-item-toggle', ng-click='saveSettings("reloadData")') Save