.text-center
    a(href='javascript:void(0);', class='menu-item-toggle')
        p Unlink account
    .bottom-border
    .menu-item-content
        ul(class='list-unstyled menu-item-subcontent')
            li
                p Unlinking your account will delete all of your data
            li
                a(href='/unlink', class='btn btn-default btn-sm menu-item-toggle') Unlink