button(class='btn btn-default menu-toggle user-settings-btn round-btn')
		i(class='fa fa-cog')
nav(class='user-settings', ng-controller='userCtrl', ng-init='user=#{JSON.stringify(user)}')
	.row
		.col-sm-2.col-sm-offset-6
			button(type='button', class='close menu-toggle')
						span(aria-hidden='true') &times;
	h3(class='text-center') Settings
	ul(class='user-menu')
		menu-item(template='sleepGoal')