button(class='btn btn-default menu-toggle user-settings-btn round-btn')
	i(class='fa fa-cog')
nav(class='user-settings', ng-controller='userCtrl')
	button(type='button', class='close menu-toggle') &times;
	h3(class='text-center') Settings
	div(class='text-center', ng-show='loading')
		i(class='fa fa-spinner fa-pulse')
	div(class='menu-item-holder')
		menu-item(template='sleepGoal')
		menu-item(template='timeFormat')
		menu-item(template='dateFormat')
		menu-item(template='unlinkAccount')