button(class='btn btn-default stats-toggle btn-stats round-btn')
	i(class='fa fa-line-chart')
nav(class='user-stats')
	button(type='button', class='close stats-toggle pull-left', style='margin-left:20px;') &times;
	h3(class='text-center') Sleep statistics
	div
		h5(class='text-center') Current time period
		//- .col-sm-6.col-sm-offset-2
		table
			tr
				td Average:
				td(class='cell-value') {{stats.averageSleepTime}}h
			tr
				td Max:
				td(class='cell-value') {{stats.maxSleepTime}}h
			tr
				td Min:
				td(class='cell-value') {{stats.minSleepTime}}h
			tr
				td Sleep efficiency:
				td(class='cell-value') {{stats.sleepEfficiency}}%
					
	div
		h5(class='text-center') Overall
		//- .col-sm-6.col-sm-offset-2
		table
			tr
				td Average:
				td(class='cell-value') {{overallStats.averageSleepTime}}h
			tr
				td Max:
				td(class='cell-value') {{overallStats.maxSleepTime}}h
			tr
				td Min:
				td(class='cell-value') {{overallStats.minSleepTime}}h
			tr
				td Sleep efficiency:
				td(class='cell-value') {{overallStats.sleepEfficiency}}%
			tr
				td To feel rested:
				td(class='cell-value') {{overallStats.averageRestedTime}}h